# =========================
# Git / VCS
# =========================
.git
.gitignore

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Entornos locales
# =========================
.venv/
venv/

# =========================
# Secrets (NUNCA al contenedor)
# =========================
.env
.env.*
*.key
*.pem

# =========================
# Frontend / node
# =========================
node_modules/

# =========================
# OS / editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
